# Untracked files, see https://git-scm.com/docs/gitignore

# Dependencies
node_modules/

# Tests
coverage/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.settings
.project

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db
